/* transition */
$transition: all 0.5s ease-in-out;

/* width */
$width__btn--square: 2.75rem;
$width__floating-menu: 22.5rem;

/* height */
$height__navbar: 5rem;
$height__line: 0.125rem;
$height__btn--large: 3.75rem;
$height__btn--meduim: 2.75rem;
$height__input: 2.75rem;
$height__floating-menu: 31.25rem;
$height__floating-filter-body: 4.75rem;
$height__floating-filter: $height__navbar + $height__floating-filter-body;

/* padding */
$padding__modal: 2.5rem;
$padding__modal--md: 1.25rem;

/* floating icon */
$radius__floating-icon: 3.75rem;
$diameter__floating-icon: $radius__floating-icon * 2;

/* top */
$top--sticky: $height__navbar + 2.5rem;
$top--floating-filter: $height__navbar + 1rem;

/* size */
$size__icon--small: 1rem;
$size__icon: 1.5rem;
$size__icon-btn: 2.75rem;

/* font */
$letter-spacing: 0.125rem;

/* 複寫原本的登入/註冊頁面form-floating-label的css */
$form-floating-label-transform: scale(1) translateY(0) translateX(0);

/* bootstrap */
@import "~bootstrap/scss/bootstrap.scss";
