/* bootstrap */
@import "~bootstrap/scss/bootstrap.scss";

//TodoList
.container {
  margin-top: 5vh;
}

//AddTask
.inputGroup {
  border: 1px solid #bdbdbd;
  padding: 1rem;
  .inputLabel {
    .icon {
      color: red;
    }
  }
  .taskForm {
    display: flex;
    .taskInput {
      width: 70%;
      margin-right: 0.5rem;
    }
    .taskInputBtn {
      background: #bdbdbd;
      border: none;
      width: 30%;
      height: 2.375rem;
    }
  }
}

//TaskItem
.unFinishedTaskItem {
  display: flex;
  transition: .5s;
  .taskItemInput {
    width: 80%;
  }
  .removeBtn {
    font-size: 1rem;
    width: 10%;
    background: #bdbdbd;
    border: none;
    text-align: center;
    margin-right: 0.5rem;
  }
  .finishedBtn {
    font-size: rem;
    width: 10%;
    background: #bdbdbd;
    border: none;
    text-align: center;
  }
}

.finishedTaskItem {
  display: flex;
  transition: .5s;
  .taskItemInput {
    width: 80%;
    color: #bdbdbd;
  }
  .finishedTime {
    color: #bdbdbd;
    width: 20%;
    text-align: end;
  }
}
